.film {
    width: 1200px;
    margin: auto;
}

.film__text {
    color: white;
}

.film__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

.film__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
}

.film__item {
    width: 150px;
    height: auto;
    background-color: rgba(7, 7, 7, 0.5);
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.film__item:hover {
    border: 2px solid #fccc07;
    transition: 0.3s;
}

.film__item:after {
    content: "";
    width: 5px;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: -110px;
    border-radius: 50px;
    transition: 0.3s;
}

.film__item:hover:after {
    content: "";
    width: 5px;
    height: 100px;
    background-color: #fccc07;
    position: absolute;
    bottom: -110px;
    border-radius: 50px;
    transition: 0.3s;
}

.film__item:active {
    opacity: 0.7;
    transition: 0;
}

.film__image {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow-y: hidden;
}

.film__item-text {
    font-size: 13px;
    font-weight: 400;
    color: rgb(248, 247, 247);
    text-align: center;
    border-top: 1px solid grey;
    padding-top: 10px;
    margin-top: 0;
}

.film__item-text--first {
    border-top: 1px solid transparent;
}

.film__logo {
    margin-top: 110px;
    width: 1136px;
    height: auto;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
    position: relative;
}

.film__logo-image {
    width: 1136px;
    height: auto;
    border-radius: 10px;
    display: block;
}

.film__field {
    width: 300px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

.film__button {
    border: none;
    padding-top: 20px;
    width: 145px;
    height: 60px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

.film__button--first {
    margin-right: 10px;
}

.visually-hidden {
    display: none;
}

.film__logo-left {
    color: white;
    position: absolute;
    display: flex;
    top: 0px;
    left: 70px;
    height: 270px;
    width: 350px;
    overflow-y: hidden;
}

.film__logo-left-text {
    width: 350px;
    text-align: left;
    margin: auto;
    font-size: 14px;
    line-height: 20px;
}

.film__logo-right {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    right: 30px;
    height: 270px;
    width: 300px;
}

.film__logo-row {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 25px;
}

.film__logo-right-text {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    width: 200px;
}

.film__logo-container {
    margin-top: auto;
    margin-bottom: auto;
}

.film__opening-list {
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    padding: 0;
    animation-duration: 25s;
    animation-name: up;
    animation-timing-function: linear;
    transform: translateY(-500px);
}

@keyframes up {
    0% {
      transform: translateY(280px);
    }
  
    100% {
      transform: translateY(-500px);
    }
}

.transparent {
    color: transparent;
}
