.film {
    width: 1150px;
    margin: auto;
}

.film__text {
    color: white;
}

.film__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

.film__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1180px;
}

.film__item {
    width: 150px;
    height: auto;
    background-color: rgba(7, 7, 7, 0.5);
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.film__item:hover {
    border: 2px solid #fccc07;
    transition: 0.3s;
}

.film__item:after {
    content: "";
    width: 5px;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: -110px;
    border-radius: 50px;
    transition: 0.3s;
}

.film__item:hover:after {
    content: "";
    width: 5px;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: -110px;
    border-radius: 50px;
    transition: 0.3s;
}

.film__item:active {
    opacity: 0.7;
    transition: 0s;
}

.film__item--active {
    border: 2px solid #fccc07;
    transition: 0.3s;
}

.film__item--active:after {
    content: "";
    width: 5px;
    height: 100px;
    background-color: #fccc07;
    position: absolute;
    bottom: -110px;
    border-radius: 50px;
    transition: 0.3s;
    left: 50%;
}

.film__item--active:before {
    content: "";
    width: 5px;
    height: 0px;
    background-color: white;
    position: absolute;
    bottom: -110px;
    border-radius: 50px;
    transition: 0.3s;
    animation-name: line;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    left: 50%;
    z-index: 5;
}

@keyframes line {
    0% {
        height: 100px;
    }
  
    100% {
        height: 0px;
    }
}

.film__item--active:hover:after {
    content: "";
    width: 5px;
    height: 100px;
    background-color: #fccc07;
    position: absolute;
    bottom: -110px;
    border-radius: 50px;
    transition: 0.3s;
}

.film__image {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow-y: hidden;
}

.film__item-text {
    font-size: 13px;
    font-weight: 400;
    color: rgb(248, 247, 247);
    text-align: center;
    border-top: 1px solid grey;
    padding-top: 10px;
    margin-top: 0;
}

.film__item-text--first {
    border-top: 1px solid transparent;
}

.film__logo {
    margin-top: 110px;
    width: 1136px;
    height: auto;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 10px;
    position: relative;
}

.film__logo-image {
    width: 1136px;
    height: auto;
    border-radius: 10px;
    display: block;
}

.film__field {
    width: 300px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

.film__button {
    border: none;
    padding-top: 20px;
    width: 145px;
    height: 60px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

.film__button--first {
    margin-right: 10px;
}

.visually-hidden {
    display: none;
}

.film__logo-left {
    color: white;
    position: absolute;
    display: flex;
    top: 0px;
    left: 80px;
    height: 270px;
    width: 350px;
    overflow-y: hidden;
}

.film__logo-left-text {
    width: 350px;
    text-align: left;
    margin: auto;
    font-size: 14px;
    line-height: 20px;
}

.film__logo-right {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    right: 30px;
    height: 270px;
    width: 300px;
}

.film__logo-row {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 25px;
}

.film__logo-right-text {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    width: 200px;
}

.film__logo-right-text--appear {
    opacity: 1;
    animation-duration: 0.8s;
    animation-name: appear;
    animation-timing-function: linear;
}

@keyframes appear {
    0% {
      opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
}

.film__logo-container {
    margin-top: auto;
    margin-bottom: auto;
}

.film__opening-list {
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    padding: 0;
    animation-duration: 25s;
    animation-name: up;
    animation-timing-function: linear;
    transform: translateY(-500px);
}

@keyframes up {
    0% {
      transform: translateY(280px);
    }
  
    100% {
      transform: translateY(-500px);
    }
}

.transparent {
    color: transparent;
}

.film__link {
    color: white;
    text-decoration: none;
    border: 1px solid #fccc07;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.film__link:hover {
    color: black;
    transition: 0.3s;
    background-color: #fccc07;
}

.film__link:active {
    color: black;
    opacity: 0.8;
    transition: 0s;
}

.film__first-window {
    width: 300px;
    height: 210px;
    position: absolute;
    top: 20px;
    left: -770px;
    z-index: 10;
    background-color: black;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*animation-duration: 0.2s;
    animation-name: appear;
    animation-timing-function: linear;*/
}

.film__second-window {
    width: 300px;
    height: 210px;
    position: absolute;
    top: 20px;
    left: -770px;
    z-index: 10;
    background-color: black;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*animation-duration: 0.2s;
    animation-name: appear;
    animation-timing-function: linear;*/
}

.film__window-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.film__title-people {
    color: #fccc07;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0px;
}

.film__title-people--small {
    font-size: 14px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
}

.film__close-button {
    width: 20px;
    height: 20px;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    outline: none;
}

.film__close-button:hover {
    border: 1px solid #fccc07;
    background-color: #fccc07;
}

.film__close-button:before {
    content: "";
    width: 20px;
    height: 1px;
    transform: rotate(45deg);
    background-color: white;
    position: absolute;
    left: -1px;
}

.film__close-button:after {
    content: "";
    width: 20px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: white;
    position: absolute;
    left: -1px;
}

.film__close-button:hover:after {
    content: "";
    width: 20px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: black;
    position: absolute;
    left: -1px;
}

.film__close-button:hover:before {
    content: "";
    width: 20px;
    height: 1px;
    transform: rotate(45deg);
    background-color: black;
    position: absolute;
    left: -1px;
}

.character {
    width: 260px;
    height: auto;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.character__item {
    color: white;
    height: 20px;
    margin-right: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

.character__link {
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5px;
}

.character__link:hover {
    background-color: #fccc07;
    color: black;
}

.character__link:active {
    opacity: 0.8;
    color: black;
}

.person {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.person__blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person__left-block {
    list-style: none;
    padding: 0;
    margin: 0;
}

.person__right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 25px;
}

.person__name {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.person__text {
    margin-left: 20px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80px;
}

.person__elem {
    color: #fccc07;
    font-size: 18px;
}

.person__link {
    color: white;
    text-decoration: none;
}

.person__link:hover {
    color: #fccc07;
}

.person__row {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.person__image {
    width: 55px;
    height: 70px;
    border: 1px solid grey;
}

.person__button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.person__button-left, .person__button-right {
    width: 25px;
    height: 45px;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    outline: none;
}

.person__button-left:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
}

.person__button-right:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
}

.person__button-left:after {
    content: "";
    position: absolute;
    top: 29px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
}

.person__button-right:after {
    content: "";
    position: absolute;
    top: 29px;
    right: 0;
    width: 26px;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
}

.person__button-left:hover:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #fccc07;
    transform: rotate(-45deg);
}

.person__button-right:hover:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: #fccc07;
    transform: rotate(45deg);
}

.person__button-left:hover:after {
    content: "";
    position: absolute;
    top: 29px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #fccc07;
    transform: rotate(45deg);
}

.person__button-right:hover:after {
    content: "";
    position: absolute;
    top: 29px;
    right: 0;
    width: 26px;
    height: 2px;
    background-color: #fccc07;
    transform: rotate(-45deg);
}

.person__button-left:active:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #fccc07;
    transform: rotate(-45deg);
    opacity: 0.7;
}

.person__button-right:active:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: #fccc07;
    transform: rotate(45deg);
    opacity: 0.7;
}

.person__button-left:active:after {
    content: "";
    position: absolute;
    top: 29px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #fccc07;
    transform: rotate(45deg);
    opacity: 0.7;
}

.person__button-right:active:after {
    content: "";
    position: absolute;
    top: 29px;
    right: 0;
    width: 26px;
    height: 2px;
    background-color: #fccc07;
    transform: rotate(-45deg);
    opacity: 0.7;
}
